<form method="POST" action="/poses/<%= @pose.id %>">
<div class="edit pose">
  <p>
    <label for="name"> Pose Name: </label>
    <input value="<%= @pose.name %>" type="text" name="name" id="name"/>
  </p>

  <p>
    <label for="image"> Image (enter URL): </label>
    <input value="<%= @pose.image %>" type="text" name="image" id="image"/>
  </p>

  <p>
    <label for="time"> Time (in seconds): </label>
    <select id="time" name="time">
      <option <%= "selected" if @pose.time == 10 %> 
      value=10> 10 </option>
      <option <%= "selected" if @pose.time == 20 %> 
      value=20> 20 </option>
      <option <%= "selected" if @pose.time == 30 %> 
      value=30> 30 </option>
      <option <%= "selected" if @pose.time == 40 %> 
      value=40> 40 </option>
      <option <%= "selected" if @pose.time == 50 %> 
      value=50> 50 </option>
      <option <%= "selected" if @pose.time == 60 %> 
      value=60> 60 </option>
    </select>
  </p>

  <p>
    <label for="effort_level"> Effort Level: </label>
    <select id="effort_level" name="effort_level">
      <option <%= "selected" if @pose.effort_level == 1 %> 
      value=1> 1 </option>
      <option <%= "selected" if @pose.effort_level == 2 %> 
      value=2> 2 </option>
      <option <%= "selected" if @pose.effort_level == 3 %> 
      value=3> 3 </option>
      <option <%= "selected" if @pose.effort_level == 4 %> 
      value=4> 4 </option>
      <option <%= "selected" if @pose.effort_level == 5 %> 
      value=5> 5 </option>
    </select>
  </p>

  <div class="button">
    <input type="submit" value="Save"/>
  </div>
</div>
</form>