<form method="POST" action="/poses/<%= @pose.id %>">

  <ul>

    <li>
      <label for="name"> Pose Name: </label>
      <input value="<%= @pose.name %>"" type="text" name="name" id="name"/>
    </li>

    <li>
      <label for="image"> Image (enter URL): </label>
      <input value="<%= @pose.image %>" type="text" name="image" id="image"/>
    </li>

    <li>
      <label for="hold_time"> Hold Time (in seconds): </label>
      <select id="hold_time" name="hold_time">
        <option <%= "selected" if @pose.hold_time == "10" %> 
        value=10> 10 seconds </option>
        <option <%= "selected" if @pose.hold_time == "20" %> 
        value=20> 20 seconds </option>
        <option <%= "selected" if @pose.hold_time == "30" %> 
        value=30> 30 seconds </option>
        <option <%= "selected" if @pose.hold_time == "40" %> 
        value=40> 40 seconds </option>
        <option <%= "selected" if @pose.hold_time == "50" %> 
        value=50> 50 seconds </option>
        <option <%= "selected" if @pose.hold_time == "60" %> 
        value=60> 60 seconds </option>
      </select>
    </li>

    <li>
      <label for="effort_level"> Effort Level: </label>
      <select id="effort_level" name="effort_level">
        <option <%= "selected" if @pose.effort_level == "1" %> 
        value=1> 1 </option>
        <option <%= "selected" if @pose.effort_level == "2" %> 
        value=2> 2 </option>
        <option <%= "selected" if @pose.effort_level == "3" %> 
        value=3> 3 </option>
        <option <%= "selected" if @pose.effort_level == "4" %> 
        value=4> 4 </option>
        <option <%= "selected" if @pose.effort_level == "5" %> 
        value=5> 5 </option>
      </select>
    </li>

    <li>
      <input type="submit" name="Save"/>
    </li>

  </ul>
</form>