<div class="pose_detail">

  <div class="pose_detail_image">
    <img src = <%= @pose.image %> class="pose_image_medium"/>
  </div>

  <div class="pose_detail_text">
    <p> Pose Name: <%= @pose.name %> </p>
    <p> Hold Time: <%= @pose.hold_time %> seconds </p>
    <p> Effort Level: <%= @pose.effort_level %> </p>

    <div class="button">
      <a href="/poses/<%= @pose.id %>/edit">Edit Pose</a>
    </div>
    
    <div class="button">
      <form method="POST" action="/poses/<%= @pose.id %>/delete">
        <input type="submit" value="Delete Pose"/>
      </form>
    </div>

  </div>

</div>