  <p> Sequence Name: <%= @sequence.name %> </p>

  <p> Total Time: 
      <% @joins.each do |join| %>
        <%= join.pose.hold_time if join.sequence.id == @sequence.id %>
      <% end %>
  </p>

  <p> Average Effort Level:
      <% @joins.each do |join| %>
        <%= join.pose.effort_level if join.sequence.id == @sequence.id %>
      <% end %>
  </p>

  <p> Poses:
      <% @joins.each do |join| %>
        <%= join.pose.name if join.sequence.id == @sequence.id %>
      <% end %>
  </p>

<p><a href="/sequences/<%= @sequence.id %>/edit">Edit Sequence</a></p>

<form method="POST" action="/sequences/<%= @sequence.id %>/delete">
  <input type="submit" value="Delete Sequence"/>  
</form>