<div class="sequence_detail">

  <div class="sequence_detail_text">
    <h1><%= @sequence.name %> </h1>
    <p> <%= @sequence.format_time %></p>
    <p> Level <%= @sequence.average_effort %> (out of 5)</p>
  </div>

    <% @poses.each do |pose| %>
      <div class="show_sequence">
          <img src = <%= pose.image %> class="pose_image_large"/>
          <p><%= pose.name %></p>
      </div>
      <% end %>

    <ul id="sequence_controls">
      <li><a class="sequence_link" href="/sequences/<%= @sequence.id %>/edit">Edit Sequence</a></li>
      <li><a class="sequence_link" href="/sequences/<%= @sequence.id %>/delete">Delete Sequence</a></li>
    </ul>

</div>