  <p> Sequence Name: <%= @sequence.name %> </p>
  <p> Total Time: <%= @sequence.total_time %> seconds </p>
  <p> Average Effort Level: <%= @sequence.average_effort_level %> </p>
    
    <% pose_1 = Pose.find(@sequence.pose_id_1) %>
    <% pose_2 = Pose.find(@sequence.pose_id_2) %>
  <p>Poses: <%= pose_1.name %>, <%= pose_2.name %> </p>
  <p><img src = <%= pose_1.image %> /></p>
  <p><img src = <%= pose_2.image %> /></p>

<a href="/sequences/<%= @sequence.id %>/edit">Edit Sequence</a>

<form method="POST" action="/sequences/<%= @sequence.id %>/delete">
  <input type="submit" value="Delete Sequence"/>  
</form>