<p> Sequence Name: <%= @sequence.name %> </p>

<p> Poses in Sequence: 
  <% @poses.each do |pose| %>
    <p><%= pose.name %></p>
  <% end %>
</p>

<p> Total Time: 
  <% @poses.each do |pose| %>
    <%= pose.hold_time %>
  <% end %>
</p>

<p> Average Effort Required:
  <% @poses.each do |pose| %>
    <%= pose.effort_level %>
  <% end %>
</p>

<p> 
  <% @poses.each do |pose| %>
    <img src = <%= pose.image %> />
  <% end %>
</p>

<p><a href="/sequences/<%= @sequence.id %>/edit">Edit Sequence</a></p>

<form method="POST" action="/sequences/<%= @sequence.id %>/delete">
  <input type="submit" value="Delete Sequence"/>  
</form>