<div class="sequence_detail">

  <div class="sequence_detail_text">
    <p><%= @sequence.name %> </p>
    <p> <%= @sequence.format_time %></p>
    <p> Level: <%= @sequence.average_effort %> (out of 5)</p>
  </div>
    
    <p> Poses in Sequence: </p>

    <% @poses.each do |pose| %>
        <img src = <%= pose.image %> class="pose_image_large"/>
        <p><%= pose.name %></p>
    <% end %>

    <div class="btn">
      <p><a href="/sequences/<%= @sequence.id %>/edit">Edit Sequence</a></p>
    </div>

    <div class="btn">
      <form method="POST" action="/sequences/<%= @sequence.id %>/delete">
        <input type="submit" value="Delete Sequence"/>  
      </form>
    </div>

</div>